# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Kubernetes
*.kubeconfig

# AWS
.aws/

# Jenkins
secrets/

# Python
__pycache__/
*.pyc

# OS
.DS_Store
Thumbs.db
